{% extends 'user/base.html' %}
{% block header %}

Inventory Management System (IMS)


{% endblock header %}

{% block content %}

<form id="contactForm" data-sb-form-api-token="API_TOKEN" method="POST">
    {% csrf_token %}
    <!-- Name input-->
    <div class="form-floating mb-3">
        <input class="form-control" id="name" type="text" name="username" placeholder="Enter your name..." data-sb-validations="required" />
        <label for="name">Username</label>
        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
    </div>
    
    <!-- Email address input-->
    <div class="form-floating mb-3">
        <input class="form-control" id="name" name="password" type="password" placeholder="Enter your name..." data-sb-validations="required" />
        <label for="name">password</label>
        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
    </div>
       <!-- Submit Button-->
    <div class="d-grid"><button class="w-100 btn btn-primary btn-lg" id="submitButton" type="submit">Update to admin</button></div>

    <small class="text-muted">Don't have an account <a href="#">Sign up</a></small>

</form>

{% endblock content %}